{% extends "base/app.html" %}
{% block contents %}
<div class="container">
    <!-- アカウント情報 -->
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <img class="col-md-12 rounded img-responsive" src=" {{user.icon.url}}"/>
        </div>
        <div class="col-md-9">
            <h2>
                {{user.username}}
            </h2>
            <!-- ここから追加 -->
            {% if user.id == login_user.id %}
            <a href="{% url 'accounts:icon_edit' %}">
                <button class="btn btn-primary">
                    <i class="fas fa-cog"></i> アイコン編集する
                </button>
            </a>
            {% endif %}
            <!-- 追加ここまで -->
        </div>
    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="wrap card-columns row-eq-height">
                    {% for post in images %}
                    <!-- Card image 
                        <div class="shadow imgWrap">
                            <img src="{{post.picture.url}}" class="card-img shadow-lg" width="500px" height=auto />
                        </div>-->
                        <!-- Card image -->
                        <div class="card">
                          <div class="view overlay">
                            <img class="card-img-top" src="{{post.picture.url}}" alt="product">
                            <a>
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                            <!-- Card content -->
                          <div class="card-body elegant-color white-text rounded-bottom">

                            <!-- Social shares button -->
                            <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                            <!-- Title -->
                            created at: {{ post.created_at|date:'Y-m-d H:i' }}
                  
                            <hr class="hr-light">
                            <!-- Text -->
                            <p class="card-text white-text mb-4">{{ post.text }}</p>
                        

                          </div>

                          </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .imgWrap {
	overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
}
.imgWrap img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
.imgWrap img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

.imgWrap{
    box-shadow:10px 10px 7px rgba(0,0,0,0.4);
}

</style>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Material Design for Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>

  <script>
    new WOW().init();
  </script>
{% endblock %}
