body{
  background-color: #F9F9F9;
}
nav{
  height: 80px;
}
.navbar-default{
  background-color: #fff;
}
.navbar-brand{
  font-size: 30px;
  margin-top:10px;
}
.container{
  text-align: center;
}
.prof{
  font-size: 30px;
  color: #595986;
}
.icon{
  display:  inline-block;
  background-image: url("summerriver.jpg");
  width:  120px;
  height: 120px;
  border-radius: 50%;
  background-position: center;
  border: 5px solid #00cc00;
}
.koumoku{
  display:  inline-block;
  margin-left: 50px;
  font-size: 20px;
  color: #808080;
}

section{
  padding-left: 130px;
  padding-right: 130px;
}
.category-box .ch {
  width: 280px;
  height: 240px;
  margin: 5px;
  border: solid 1px #EEEEEE;
  box-sizing: border-box;
  background: transparent;
}

.category-box{
  display: flex;
}
