.main-stu{
  position: relative;
  left: 18%;
  width: 82%;
  height: 1000px;
  background-color: rgb(240,240,247);
}
.st-box{
  display: flex;
  position:relative;
  top:20px;
  left:80px;
  width: 300px;
  height: 80px;
  background-color: rgb(255,255,255);
  filter: drop-shadow(0px 1px 1px #CACED5);
}
.gakko{
  margin-top: 10px;
  font-size: 11px;
  color:#4D4F5C;
}
.bottan-2{
  display: block;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color:#4D4F5C;
}
.kyoukabetu{
  display: flex;
  width: 100%;
  height: 37%;
  background-color: rgb(240,240,247);
}
.kamoku-1{
  margin-top: 120px;
  margin-left: 80px;
  font-size: 28px;
  font-weight: 500;
  color: rgb(255,17,17,0.6);
}
.kamoku-2{
  margin-top: 120px;
  margin-left: 50px;
  font-size: 28px;
  color: rgb(68,80,249,0.7);
}
.kamoku-3{
  margin-top: 120px;
  margin-left: 50px;
  font-size: 28px;
  color: rgb(72,159,84,0.7);
}
.kamoku-4{
  margin-top: 120px;
  margin-left: 50px;
  font-size: 28px;
  color: rgb(247,153,29);
}
.kohyou{
  margin-left: 50px;
  margin-right: 10px
}

.title{
  margin-top:70px;
  margin-left: 80px;
  font-size: 38px;
  color: rgb(255,17,17,0.6);
  font-family: "Source Sans Pro";
}
.title-2{
  margin-top:70px;
  margin-left: 80px;
  font-size: 38px;
  color: rgb(68,80,249,0.7);
  font-family: "Source Sans Pro";
}
.title-3{
  margin-top:70px;
  margin-left: 80px;
  font-size: 38px;
  color: rgb(72,159,84,0.7);
  font-family: "Source Sans Pro";
}
.title-4{
  margin-top:70px;
  margin-left: 80px;
  font-size: 38px;
  color: rgb(247,153,29);
  font-family: "Source Sans Pro";
}

section{
  margin-top: 30px;
  margin-left: 120px;
}
.category-box .ch {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 10px;
  border: solid 1px #707070;
  box-sizing: border-box;
  background: transparent;
}

.category-box{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

.eigogazo{
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  position: absolute;
  max-width : 100%;
}
