{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Expo1</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" >
    <script type="text/javascript" src="{% static https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </head>

  <body>
   <nav class="navbar navbar-default">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="home.html">My Expo</a>
       </div>
       <div class="collapse navbar-collapse" id="navigation">
         <a class="navbar-text navbar-right" href="mypage.html">ユーザーicon</a>
       </div>
     </div>
   </nav>
  <div class="container">
   <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
    <li><a href="#tab2" data-toggle="tab">IT関連</a></li>
    <li><a href="#tab3" data-toggle="tab">電化製品</a></li>
    <li><a href="#tab4">＋</a></li>
   </ul>
  </div>
　<div class="wrpper">
  　<div class="tab-content">
    　<div class="tab-pane active" id="tab1">
       <div class="contents-1">
         <div class="item__header clearfix">
          <span class="item__user-icon">
           <img src="imgs/.jpg" height="50" width="50" alt="" class="item__user-icon-img" />
           </span>
          <span class="item__user-name">
           <strong>株式会社My Expo</strong>
          </span>
         <span class="item__date">
          2019/10/15 16:00
         </span>
         <div class="coment">aaaaaaaaaaaa</div>
         <div><img src="imags/スクリーンショット.png" class="gazou"></div>
        </div>
       </div>
    　</div>
    　<div class="tab-pane" id="tab2">Content２</div>
    　<div class="tab-pane" id="tab3">Content３</div>
  　</div>
</div>
