<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    ログインユーザー=<a href="{% url 'detail' %}?userid={{user.username}}">@{{ user.username }}</a>
     | <a href="{% url 'logout' %}">ログアウト</a> | <a href="{% url 'profupdt' %}">プロフィール更新</a>
    <p></p>

    @{{ user_data.username }}
    
    <p> icon </p>

    {% if user_data_detail.icon %}
        <img src='{{ user_data_detail.icon.url }}' width=200>
    {% endif %}

    <p> acctype </p>
    {{ user_data.acctype }}
    <p> detail text </p>
    {{ user_data.acctext }}


    <a href=""><h1>Create post</h1></a>
    <form action="{% url 'detail' %}" method="POST" enctype="multipart/form-data">      
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="投稿" />
    </form>
</form>


</body>
</html>